body{
    background-image: url("../images/wave.jpg");
    background-repeat: no-repeat;
    margin-top: 10px;
    font-family: "Montserrat", "Playfair Display", "Raleway", sans-serif;
    color: #a0a0a0;
}